*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.chat-container{
    font-size: 2.5em;
    width: 100%;
    height: 80%;
    background-color: tan;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    overflow: auto;
}
.user-chat-box{
    width: 60%;
    position: relative;
    left: 40%;
}
.user-chat-area{
    color: white;
    width: 90%;
    padding: 20px;
    background-color: black;
    border-radius: 40px 0px 40px 40px;
    box-shadow: 2px 2px 10px black;
}
.ai-chat-box{
    width: 60%;
    position: relative;

}
.ai-chat-area{
    color: white;
    width: 90%;
    padding: 20px;
    background-color: grey;
    position: relative;
    left: 10%;
    border-radius: 0px 40px 40px 40px;
    box-shadow: 2px 2px 10px black;
}
#userImage{
    position:absolute;
    right:0;
    filter: drop-shadow(2px 2px 10px black);
}
#aiImage{
    position: absolute;
    filter: drop-shadow(2px 2px 10px black);
    left: 0;
}
.prompt-area{
    width: 100%;
    height: 20%;
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.prompt-area input{
    width: 50%;
    height: 150px;
    background-color: black;
    border: none;
    border-radius: 50px;
    padding: 29px;
    color: white;
    font-size: 2.3em;
}
.prompt-area button{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
    transition: all 0.1s;
}
.prompt-area button:hover{
    background-color:grey;
}